* {
  margin: 0;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  background-color: #eee;
}

.calculator-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  height: 50px;
}

.calculator-output {
  grid-column: span 4;
  padding: 1rem;
  font-size: 30px;
  background-color: #858694;
  color: #fff;
  height: 30px;
}

.zero {
  grid-column: span 2;
}

.orange {
  background-color: #f5913e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

header h1 {
  margin-left: 2%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  padding: 1rem;
}

.link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
}

.link:hover {
  text-decoration: underline #f5913e;
}

.home-title {
  padding: 1rem;
  font-size: 2rem;
}

.lorem {
  font-size: 1.3rem;
  padding-top: 1rem;
  margin: 0 2rem;
}
